In [1]:
!pip install sklearn --upgrade

Requirement already up-to-date: sklearn in c:\users\lydiapf\anaconda3\envs\pythondata\lib\site-packages (0.0)
Requirement already satisfied, skipping upgrade: scikit-learn in c:\users\lydiapf\anaconda3\envs\pythondata\lib\site-packages (from sklearn) (0.23.1)
Requirement already satisfied, skipping upgrade: threadpoolctl>=2.0.0 in c:\users\lydiapf\anaconda3\envs\pythondata\lib\site-packages (from scikit-learn->sklearn) (2.1.0)
Requirement already satisfied, skipping upgrade: joblib>=0.11 in c:\users\lydiapf\anaconda3\envs\pythondata\lib\site-packages (from scikit-learn->sklearn) (0.16.0)
Requirement already satisfied, skipping upgrade: scipy>=0.19.1 in c:\users\lydiapf\anaconda3\envs\pythondata\lib\site-packages (from scikit-learn->sklearn) (1.5.0)
Requirement already satisfied, skipping upgrade: numpy>=1.13.3 in c:\users\lydiapf\anaconda3\envs\pythondata\lib\site-packages (from scikit-learn->sklearn) (1.19.5)

In [2]:
!pip install joblib

Requirement already satisfied: joblib in c:\users\lydiapf\anaconda3\envs\pythondata\lib\site-packages (0.16.0)

In [3]:
import pandas as pd
import numpy as np

In [90]:
df1 = pd.read_csv("..\\reduced_data\\all_param.csv")
df1

,appid,maxccu,success_class,suc_class,followers,positive,negative,maxprice,maxdiscount,totaltags,...,tagphilisophical,taggaming,tagfaith,tagmysterydungeon,tagfeaturefilm,tagsteammachine,tagclicker,taghardware,tag360video,tagvronly
0,1272460,2,F,0,32,0,1,1899,60,127,...,0,0,0,0,0,0,0,0,0,0
1,380130,1,F,0,620,0,1,499,10,168,...,0,0,0,0,0,0,0,0,0,0
2,398950,2,F,0,246,0,1,499,10,40,...,0,0,0,0,0,0,0,0,0,0
3,381290,1,F,0,390,0,1,999,0,73,...,0,0,0,0,0,0,0,0,0,0
4,431470,1,F,0,55,0,1,699,90,111,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39619,440,147360,AAA,1,0,703615,44046,0,0,261208,...,0,0,0,0,0,0,0,0,0,0
39620,359550,199307,AAA,1,1162283,741118,99312,5999,75,77135,...,0,0,0,0,0,0,0,0,0,0
39621,578080,3257248,AAA,1,3450113,885668,757174,2999,50,98104,...,0,0,0,0,0,0,0,0,0,0
39622,570,1295107,AAA,1,0,1217813,224709,0,0,184987,...,0,0,0,0,0,0,0,0,0,0
39623,730,1308963,AAA,1,0,4598654,621427,1499,50,740953,...,0,0,0,0,0,0,0,0,0,0

In [92]:
df = df1.drop("success_class",axis=1)
# df = df1.drop(columns=["developer", "publisher", "success_class])

In [94]:
df

,appid,maxccu,suc_class,followers,positive,negative,maxprice,maxdiscount,totaltags,tagstrategy,...,tagphilisophical,taggaming,tagfaith,tagmysterydungeon,tagfeaturefilm,tagsteammachine,tagclicker,taghardware,tag360video,tagvronly
0,1272460,2,0,32,0,1,1899,60,127,0,...,0,0,0,0,0,0,0,0,0,0
1,380130,1,0,620,0,1,499,10,168,0,...,0,0,0,0,0,0,0,0,0,0
2,398950,2,0,246,0,1,499,10,40,0,...,0,0,0,0,0,0,0,0,0,0
3,381290,1,0,390,0,1,999,0,73,0,...,0,0,0,0,0,0,0,0,0,0
4,431470,1,0,55,0,1,699,90,111,30,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39619,440,147360,1,0,703615,44046,0,0,261208,0,...,0,0,0,0,0,0,0,0,0,0
39620,359550,199307,1,1162283,741118,99312,5999,75,77135,3407,...,0,0,0,0,0,0,0,0,0,0
39621,578080,3257248,1,3450113,885668,757174,2999,50,98104,2705,...,0,0,0,0,0,0,0,0,0,0
39622,570,1295107,1,0,1217813,224709,0,0,184987,13419,...,0,0,0,0,0,0,0,0,0,0
39623,730,1308963,1,0,4598654,621427,1499,50,740953,28593,...,0,0,0,0,0,0,0,0,0,0

In [110]:
y = df["maxprice"]
X = df.drop(columns=["maxprice"])
# X = df[["maxccu", "totaltags", "followers", "positive", "negative"]]
print(X)

         appid   maxccu  suc_class  followers  positive  negative  \
0      1272460        2          0         32         0         1
1       380130        1          0        620         0         1
2       398950        2          0        246         0         1
3       381290        1          0        390         0         1
4       431470        1          0         55         0         1
...        ...      ...        ...        ...       ...       ...
39619      440   147360          1          0    703615     44046
39620   359550   199307          1    1162283    741118     99312
39621   578080  3257248          1    3450113    885668    757174
39622      570  1295107          1          0   1217813    224709
39623      730  1308963          1          0   4598654    621427

       maxdiscount  totaltags  tagstrategy  tagaction  ...  tagphilisophical  \
0               60        127            0          0  ...                 0
1               10        168            0         23  ...                 0
2               10         40            0          0  ...                 0
3                0         73            0         22  ...                 0
4               90        111           30          0  ...                 0
...            ...        ...          ...        ...  ...               ...
39619            0     261208            0      11153  ...                 0
39620           75      77135         3407       4442  ...                 0
39621           50      98104         2705       5280  ...                 0
39622            0     184987        13419       7454  ...                 0
39623           50     740953        28593      44902  ...                 0

       taggaming  tagfaith  tagmysterydungeon  tagfeaturefilm  \
0              0         0                  0               0
1              0         0                  0               0
2              0         0                  0               0
3              0         0                  0               0
4              0         0                  0               0
...          ...       ...                ...             ...
39619          0         0                  0               0
39620          0         0                  0               0
39621          0         0                  0               0
39622          0         0                  0               0
39623          0         0                  0               0

       tagsteammachine  tagclicker  taghardware  tag360video  tagvronly
0                    0           0            0            0          0
1                    0           0            0            0          0
2                    0           0            0            0          0
3                    0           0            0            0          0
4                    0           0            0            0          0
...                ...         ...          ...          ...        ...
39619                0           0            0            0          0
39620                0           0            0            0          0
39621                0           0            0            0          0
39622                0           0            0            0          0
39623                0           0            0            0          0

[39624 rows x 349 columns]

In [111]:
# y=y.reshape(-1,1)
# y.shape

y= y.values.reshape(-1,1)

In [97]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=0)

X_train.head()

,appid,maxccu,suc_class,followers,positive,negative,maxdiscount,totaltags,tagstrategy,tagaction,...,tagphilisophical,taggaming,tagfaith,tagmysterydungeon,tagfeaturefilm,tagsteammachine,tagclicker,taghardware,tag360video,tagvronly
27368,486850,32,0,212,68,21,70,829,89,0,...,0,0,0,0,0,0,0,0,0,0
24774,560820,18,0,137,43,21,75,149,0,0,...,0,0,0,0,0,0,0,0,0,0
13228,1048280,5,0,255,8,9,30,5481,0,0,...,0,0,0,0,0,0,0,0,0,0
18400,1174420,12,0,371,17,5,30,722,91,0,...,0,0,0,0,0,0,0,0,0,0
9382,601320,4,0,108,5,1,34,97,0,0,...,0,0,0,0,0,0,0,0,0,0

In [102]:
from sklearn.preprocessing import StandardScaler
X_scaler = StandardScaler().fit(X_train)
y_scaler = StandardScaler().fit(y_train)

In [103]:
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)
y_train_scaled = y_scaler.transform(y_train)
y_test_scaled = y_scaler.transform(y_test)

In [104]:
# X_test.fillna(X_test.mean())

In [105]:
from sklearn.linear_model import LinearRegression

regressor = LinearRegression()
regressor.fit(X_train_scaled, y_train_scaled)

LinearRegression()

In [106]:
score = regressor.score(X_train_scaled, y_train_scaled)
print(score)

0.053154103159048116

In [107]:
from sklearn.metrics import mean_squared_error

predictions = regressor.predict(X_test_scaled)
MSE = mean_squared_error(y_test_scaled, predictions)
r2 = regressor.score(X_test_scaled, y_test_scaled)

print(f"MSE: {MSE}, R2: {r2}")

MSE: 3.216586129688556, R2: -0.6034961818441285